/* For the Pane background */
.pane-background {
  -fx-background-image: url("../images/background.jpg");
  -fx-background-repeat: repeat;
  -fx-background-size: 600px 281px;
}

.overlay {
  -fx-background-color: rgba(255, 255, 255, 0.8);
  -fx-opacity: 0.8;
}

.overlayUpper {
  -fx-background-color: rgba(255, 255, 255, 1);
  -fx-opacity: 0.1;
}

.scroll-pane {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-pane .viewport {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
  -fx-padding: 0;
  -fx-pref-width: 8px;
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .track {
  -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-color: rgba(255, 110, 199, 0.8); /* pink */
  -fx-background-insets: 0;
  -fx-background-radius: 4px;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
  -fx-padding: 0;
  -fx-opacity: 0; /* hide arrows */
}

.scroll-pane-admin {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.scroll-pane-admin .viewport {
  -fx-background-color: transparent;
}

.scroll-pane-admin .scroll-bar:vertical {
  -fx-padding: 0;
  -fx-pref-width: 8px;
  -fx-background-color: transparent;
}

.scroll-pane-admin .scroll-bar:vertical .track {
  -fx-background-color: transparent;
}

.scroll-pane-admin .scroll-bar:vertical .thumb {
  -fx-background-color: rgb(0, 0, 0);
  -fx-background-insets: 0;
  -fx-background-radius: 4px;
}

.scroll-pane-admin .scroll-bar:vertical .increment-button,
.scroll-pane-admin .scroll-bar:vertical .decrement-button {
  -fx-padding: 0;
  -fx-opacity: 0; /* hide arrows */
}

.learnMoreSubtitle {
  -fx-letter-spacing: 100px;
}

.text-area-admin .scroll-bar:vertical .track {
  -fx-background-color: transparent;
}

.text-area-admin .scroll-bar:vertical .thumb {
  -fx-background-color: rgb(0, 0, 0);
  -fx-background-insets: 0;
  -fx-background-radius: 4px;
}

