.pane-background {
  -fx-background-image: url("../images/background.jpg");
  -fx-background-repeat: repeat;
  -fx-background-size: 600px 281px;
}

.overlay {
  -fx-background-color: rgba(255, 255, 255, 0.8);
  -fx-opacity: 0.8;
}

.overlayUpper {
  -fx-background-color: rgba(255, 255, 255, 0.8);
  -fx-opacity: 0.3;
}

.loading-overlay {
  -fx-background-color: rgba(0, 0, 0, 0.8);
  -fx-opacity: 0.8;
}