// 🎨 Colors
$primary-color: rgba(255, 110, 199, 0.8);
$secondary-color: #000000;
$light-color: #fff;
$dark-color: #1e1e1e;
$semi-dark-color: #4f4f4f;


// 🔤 Fonts
$font-family: 'Century Gothic', 'Segoi UI', sans-serif;
$font-size-base: 16px;
